.card {
    width: 80%;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    .card {
        width: 50%;
    }
}


.card p{
    margin-top: 0;
}